/*
* CSS Custom Properties (Variables)
* =================================
* This file contains all design tokens - color, typogrpahy, spacing, etc.
* Using variables will ensure consistency in design throughout the site
*/
:root {
}
